# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
*.db

# Django
*.log
.env
*.env
db.sqlite3

# Virtual environment
venv/
env/
*.tar.gz
*.zip

# Static files
staticfiles/
media/
*.swp

# VSCode
.vscode/

# Git
.DS_Store
.gitignore
